[Unit]
Description=aria2
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
Restart=on-abort
ExecStart=/usr/local/bin/aria2c

[Install]
WantedBy=default.target
